html, body {
  margin: 0; 
  padding: 0;
  height: 100vh;
}

.hero-bkg-animated {
  padding: 3em 0 0 0;
  margin: 0;
  background: black url('../img/img-3730-1_orig.jpg') no-repeat; 
  background-size: auto 100%;

  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  color: white;
}
h2 {
  text-align: center;
  color: white;
}

@media only screen and (max-width: 600px) {
  .hero-bkg-animated {
    -webkit-animation: slide 40s ease-in-out infinite;
  }
}

@-webkit-keyframes slide {
    0% { background-position: 100% 0; }
    50% { background-position: 0% 0; }
    100% { background-position: 100% 0; }
}

